[Unit]
Description=CIV6 Turn Bot
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=root
WorkingDirectory=/opt/turn_bot
ExecStart=/opt/turn_bot/venv/bin/turn_bot
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
